@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #faf7f0;
  --primary: #4a4947;
  --secondary: #ac958a;
  --tertiary: #d8d2c2;
  --quaternary: #faf7f0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
